html {
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
img {
    max-width: 100%;
    height: auto;
}
body{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
}
/* header styles start */
header{
    background-color: black;
    padding: 24px 0;
}
.header__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 32px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.header__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__item{
    margin-right: 32px;
}
.header__item:first-child a{
    font-size: 13px;
}
.header__item:last-child a{
    background-color: white;
    color: black;
    padding: 11px 20px;
    font-size: 16px;
    line-height: 20px;
}
.header__link{
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: white;
    border-radius: 14px;
}
/* header styles end */

/* Main banner styles start */
.main__banner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("../images/shore.jpg");
    background-size: cover;
    height: calc(100vh - 79px);
    position: relative;
}
.main__banner-wrapper{
    max-width: 580px;
    text-align: center;
    margin-bottom: 71px;
}
.intro__subtitle{
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.intro{
    color: white;
    font-size: 54px;
    line-height: 59px;
    margin-bottom: 18px;
}
.intro__subtitle-desc{
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
}
/* Main banner styles end */

/* What we do styles start */
.watwedo{
    background-color: black;
    padding-top: 112px;
    padding-bottom: 100px;
}
.watwedo__title{
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
}
.watwedo__subtitle{
    text-align: center;
    color: #C0C0C0;
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 42px;
}
.central__block{

}
.watwedo__cards{
    max-width: 1168px;
    display: flex;
    min-height: 1216px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.watwedo__card{
    position: relative;
}
.card__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.card__title{
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
.card__subtitle{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.card__link{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 11px 11px 5px;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
}
.card__link:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    margin-right: 10px;
}
/* What we do styles end */

/* Help styles start */
.help{
    background-color: black;
}
.help__wrapper{
    max-width: 571px;
    text-align: center;
    margin: auto;
    padding: 113px 0 108px 0;
}
.title__help{
    color: white;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 15px;
}
.help__subtitle{
    color: #C0C0C0;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 22px;
}
.help__link{
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 11px 11px 5px;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
}
.help__link::before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: black;
    margin-right: 10px;
}
/* Help styles end */

/* Mountain styles start */
.mountain{
    background-image: url("../images/mountain.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.section__container{
    margin-right: 119px;
}
.section__title{
    color: white;
    font-size: 14px;
    line-height: 20px;
}
.section__subtitle{
    color: #C0C0C0;
    font-size: 14px;
    line-height: 20px;
}
.bottom__icons{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 41px;
    right: 40px;
}
.icon{
    color: white;
    font-size: 12px;
    line-height: 12px;
    margin-left: 16px;
}
.icon:before{
    content: "";
    display: inline-block;
    background-image: url("../images/clock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.icon:nth-child(2):before{
    content: "";
    display: inline-block;
    background-image: url("../images/circle.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
}
.icon:nth-child(3):before{
    content: "";
    display: inline-block;
    background-image: url("../images/iso.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
    width: 32px;
}
.icon:nth-child(4):before{
    content: "";
    display: inline-block;
    background-image: url("../images/lock.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 5px;
    width: 10px;
    height: 16px;
}
/* Mountain styles end */

/* Tools styles start */
.tools{
    position: relative;
    background-color: black;
}
.tools__container{
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    min-height: 540px;
    align-items: center;
}
.tools__title{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 6px;
}
.tools__title__sec{
    font-size: 28px;
    line-height: 32px;
    color: white;
    margin-bottom: 15px;
}
.tools__subtitle{
    max-width: 514px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
}
.tools__img{
    width: 50%;
    height: 100%;
    position: absolute;
    background-image: url("../images/tools.jpg");
    background-size: cover;
    right: 0;
    top: 0;
}
/* Tools styles end */

/* Leaf styles start */
.leaf{
    background-image: url("../images/leaf.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
/* Leaf styles end */

/* Past clients styles start */
.past__clients{
    background-color: black;
    padding-bottom: 100px;
    padding-top: 120px;
}
.past__clients__title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 42px;
    color: white;
}
.past__clients__subtitle{
    text-align: center;
    margin-bottom: 82px;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
}
.past__clients__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1076px;
    margin: auto;
}
/* Past clients styles end */

/* Night styles start */
.night{
    background-image: url("../images/night.jpg");
    background-size: cover;
    min-height: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
/* Night styles end */

/* Footer styles start */
footer{
    padding: 100px 0;
    background-color: black;
}
.logo-pic{
    margin-bottom: 20px;
}
.footer__container{
    max-width: 1168px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px white;
    padding-bottom: 26px;
    margin-bottom: 36px;
}
.footer__container:nth-child(2){
    margin-bottom: 56px;
}
.footer__container:last-child{
    border: none;
    margin-bottom: 0;
}
.footer__subtitle{
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.form__title{
    font-size: 14px;
    line-height: 20px;
    color: white;
    margin-bottom: 20px;
}
.form__subtitle{
    font-size: 13px;
    line-height: 20px;
    color: #C0C0C0;
}
.right__sub-menu-item{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 10px;
}
.sub-menu-link{
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}
.right__sub-menu{
    display: flex;
    align-items: flex-start;
}
.right__sub-menu-list:first-child{
    margin-right: 55px;
}
.right__sub-menu-list:last-child{
    margin-right: 100px;
}
form{
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    max-width: 458px;
    height: 52px;
    padding: 11px 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.form-control{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 80%;
    display: inline-block;
}
.form__button{
    border: none;
    height: 30px;
    background-color: black;
    border-radius: 11px;
    width: 63px;
    cursor: pointer;
}
.social__icons{
    display: flex;
}
.icons__item{
    margin-right: 20px;
}
.footer__last{
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
/* Footer styles end */